body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1{
    text-align: center;
    color: #ff0000;
    letter-spacing: 4px;  
}
li{
    background-color: #1c1c1c;
    padding: 15px;
    margin: 15px;
    border-radius:15px;
    list-style:none;
}
h2{
    text-align: center;
    color: #ff0000;
    margin-top: 30px;
}
.progress-bar
{
    background-color: #1c1c1c;
    border-radius:15px;
    height:20px;
    margin:10px 0;
}
.progress-fill{
    background-color: #ff0000;
    height:20px;
    border-radius:15px;
    width:0%;
}
